[submodule "tools"]
	path = tools
	url = https://gitlab.com/aptivi/main/tools.git
[submodule "assets/autoconfig"]
	path = assets/autoconfig
	url = https://github.com/thunderbird/autoconfig
[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://gitlab.com/aptivi/main/docfx-apt.git
